.container {
  margin: 0 auto;
  padding: 3rem 4rem;
  width: fit-content;

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  // glass effect
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4.3px);
  border: 2px solid rgba(255, 255, 255, 0.72);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  @media screen and (max-width:425px) {
    padding: 3rem 2rem;
  }

  @media screen and (max-width:375px) {
    width: min-content;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  
  div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    p {
      font-size: 1.2rem;
    }
  }

  button {
    margin-top: 1rem;
  }
}

.result { 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
  text-align: center;
  
  div:first-child {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;

    p {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  div:last-child {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    p:first-child {
      font-size: 1.7rem;
      font-weight: 600;
    }

    p {
      font-size: 1.6rem;
    }

    p:last-child {
      font-size: 1.3rem;
    }
  }
}